<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.-30thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="com.sun.jersey" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.commons" level="WARN"/>
    <logger name="com.jayway" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
