@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
}

body {
    height: 900px;
    background-attachment: fixed;
    background-image: linear-gradient(bottom, rgb(27, 67, 89) 78%, rgb(33, 81, 105) 26%);
    background-image: -o-linear-gradient(bottom, rgb(27, 67, 89) 78%, rgb(33, 81, 105) 26%);
    background-image: -moz-linear-gradient(bottom, rgb(27, 67, 89) 78%, rgb(33, 81, 105) 26%);
    background-image: -webkit-linear-gradient(bottom, rgb(27, 67, 89) 78%, rgb(33, 81, 105) 26%);
    background-image: -ms-linear-gradient(bottom, rgb(27, 67, 89) 78%, rgb(33, 81, 105) 26%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.78, rgb(27, 67, 89)), color-stop(0.26, rgb(33, 81, 105)));
}

#header {
    width: 100%;
    height: 40px;
    background-color: #2b363b;
    top: 0;
    position: fixed;
}
#header ul {
	display : inline;
}

#header li {
	text-decoration: none;
}

.share {
    margin-top: 10px;
    right: 4%;
    position: absolute;
}

li {
    float: left;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;

}

#content {
    height: 3000px;
}

#title {
    height: 200px;
    text-align: center;
    font-family: 'Rokkitt', sherif;
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px; /* moitié de la hauteur de l'image */
    margin-left: -275px; /* moitié de la largeur de l'image */
}

h1 {
    text-align: center;
    font-family: 'Rokkitt', sherif;
    font-size: 54px;
    font-weight: 700;
    color: #FFF;
}

.red {
    text-align: center;
    font-family: 'Rokkitt', sherif;
    font-size: 54px;
    font-weight: 700;
    color: #5a7179;
}

.soon {
    text-align: center;
    font-family: 'Rokkitt', sherif;
    font-size: 30px;
    font-weight: 400;
    color: #CCC;
}

#footer {
    width: 100%;
    bottom: 20px;
    position: fixed;

}

#mentions {
    width: 100%;
    left: 50%;
    right: 50%;
    margin-left: 45%;
}

p {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #5a7179;
    margin-top: 10px;
    float: left;
    text-align: right;

}

a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #5a7179;
}

a:hover {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #FFF;
}