@charset "UTF-8";
/* CSS Document */
*{
	margin:0;
	outline-style:none;
}


body{
	/*background-attachment:fixed;
	background-image: linear-gradient(bottom, rgb(27,67,89) 78%, rgb(33,81,105) 26%);
	background-image: -o-linear-gradient(bottom, rgb(27,67,89) 78%, rgb(33,81,105) 26%);
	background-image: -moz-linear-gradient(bottom, rgb(27,67,89) 78%, rgb(33,81,105) 26%);
	background-image: -webkit-linear-gradient(bottom, rgb(27,67,89) 78%, rgb(33,81,105) 26%);
	background-image: -ms-linear-gradient(bottom, rgb(27,67,89) 78%, rgb(33,81,105) 26%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.78, rgb(27,67,89)),
	color-stop(0.26, rgb(33,81,105))
);*/
background-color: #FFF;
	}
	
	
/*#header{
	width:100%;
	height:40px;
	background-color:#2b363b;
	top:0;
	position:fixed;
	}
.title{
	margin-top:10px;
	right:50%;
	left:28%;
	width:500px;
	margin-left:-100px;
	position:absolute;
	
}
.title a{
		text-decoration:none;
}
.share{
	margin-top:10px;
	right:4%;
	width:200px;
	margin-left:-100px;
	position:absolute;
}*/

li{
	float:left;
	list-style:none;
	margin-right:5px;
	margin-left:5px;
	text-align:center;
	font-family: 'Rokkitt', sherif;
	font-size:24px;
	font-weight:700;
	color:#999;

}



 
 /*/////////////////////// menu ////////////////////////*/
#menu{
	padding-top:150px;
	height:250px;
	position:fixed;
	text-align:left;
	width:200px;
	font-size:14px;
	float:left;
	height:100%;
	border-right:dotted #CCC thin;
	margin-left:150px;

}
.menu{			
	font-family: 'Rokkitt', sherif;
	font-weight:400;
	font-size:16px;
	color:#000;
}
.menu a{			
	font-family: 'Rokkitt', sherif;
	font-weight:400;
	font-size:21px;
	color:#000;

	opacity:0.5;
}
.menu a:hover{			
	font-family: 'Rokkitt', sherif;
	font-size:21px;
	color:#000;
	opacity:1;
}

.menu a:visited{			
	font-family: 'Rokkitt', sherif;
	font-size:29px;
	color:#000;
	opacity:0.7;
}


 /*/////////////////////// container ////////////////////////*/





#container{
	left:450px;
	position:absolute;
}
.line1{
	width:22px;
	height:150px;
	border-right: dotted thin;
	}
.line2{
	width:22px;
	height:664px;
	border-right: dotted thin;
	}
#home{
	width:900px;
	}
.title{
	font-family: 'Rokkitt', sherif;
	font-weight:700;
	font-size:50px;
	color:#000;
	clear:both;
	border-bottom: dotted thin;
	width:380px;
	margin-bottom:10px;
	}
#compt{	width:900px;
}



h4{
	width:263px;
	text-align:left;
	font-family: 'Rokkitt', sherif;
	font-size:16px;
	font-weight:400;
	color: #000;
}
.gris{font-family: 'Rokkitt', sherif;
	font-size:16px;
	font-weight:400;
	color: #999;
	}
.field{
	margin-right:30px;
	width:400px;
	margin-bottom:20px;
	float:left;
	margin-top:20px;
}
.field1{
	margin-right:30px;
	margin-bottom:20px;
}

.content{
	}

.nom{
	background-color: transparent;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:dotted thin;
	border-bottom-color:#000;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size:30px;
	font-weight:400;
	color: #000;
	outline-style:none;
}

h1{
	font-family: 'Rokkitt', sherif;
	font-size:30px;
	font-weight:400;
	color: #000;
	clear:both;
}
.gris{color:#999;}
.titre{
	margin-top:15px;
	font-family: 'Rokkitt', sherif;
	font-size:30px;
	font-weight:400;
	color: #000;
}
.text{
	margin-bottom:10px;
	margin-top:15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	color: #000;}

.texts{
	font-family: 'Rokkitt', sherif;
	font-size:16px;
	color:#000;
	}

h1 a{
	margin-top:5px;
	font-family: 'Rokkitt', sherif;
	font-size:30px;
	font-weight:400;
	color: #000;
	text-decoration:none;
	text-align:right;
	opacity:0.5;
	transition:background 0.5s;

}
	
h1 a:hover{
	margin-bottom:5px;
	font-family: 'Rokkitt', sherif;
	font-size:30px;
	font-weight:400;
	color: #000;
	text-decoration:underline;
	opacity:1;
	transition:background 0s;

	}
	 /*/////////////////////// selection ////////////////////////*/

#themes{
	text-align:center;
	width:900px;
	border-style: none;

	 }

.themes{
	clear:both;
	width:700px;
	margin-top:70px;
	}
	
.themes2{
	opacity:1;
	list-style:none;
	text-align:left;
	}
	
.themes2:hover{
	opacity:0.5;
	}

/*     candi    */

#candi{
	text-align:center;
	width:900px;
	border-style: none;

	 }

.candi{
	width: 700px; 
	margin-top:10px; 
	margin-top:20px;
	float: left;
}
.candi2{
	opacity:1;
	margin-right:10px;
	margin-bottom:60px;	 
	list-style:none;
	}
.candi2:hover{opacity:0.5;}

		
#questions{
	width:900px;
 }
.questions{
	width:800px;
	font-family: 'Rokkitt', sherif;
	font-size:20px;
	font-weight:400;
	color: #000;
	text-align:left;
	margin-top:80px;
	margin-bottom:60px;	
}
.IntroQuestion{font-family: 'Rokkitt', sherif;
	font-size:18px;
	font-weight:400;
	color: #666;}
.reponse{width: 200px;
}
.reponse2{opacity:0.5; float:left; list-style:none; margin-right:15px;}
.reponse2:hover{opacity:1;}

h2{	font-family: 'Rokkitt', sherif;
	font-size:24px;
	font-weight:400;
	color: #000;
	}
.gotoNextQuestion{margin-top:40px;}
.IntroQuestion{}
/*        restltats        */


#results{
	width:900px;
}

.results{
	height:320px;
	}
.results li{
	height:320px;
	list-style:none;

}
.results li img{
	margin-top:50%;
	
}

.resultsthemes{
	height:320px;
	background-repeat:no-repeat;
	background-image:url('img/linestat.png');
	}
.prctthemes{
    clear: both;
	}	
h3{}
.printMesPermisThemes{
	margin-bottom:10px;
	margin-top:15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:400;
	color: #000;
	cursor: pointer;
	}
.printMesPermisThemes:hover{text-decoration:underline;}	

.printMesPermisCandidacies{
	margin-bottom:10px;
	margin-top:15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:400;
	color: #000;
	cursor: pointer;
}
.printMesPermisCandidacies:hover{text-decoration:underline;}	
	
	
	
	
/*/////////////////////// footer ////////////////////////*/
#footer{
	width:100%;
	bottom:20px;
	position:fixed;
	

	
}
#mentions{
	width:100%;
	left: 50%;
	right:50%;
	margin-left: 45%;
}
p{
	margin-left:5px; 
	margin-right:5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5a7179;
	margin-top:10px;
	float:left;
	text-align:right;
	
}

a{font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5a7179;
}
/*
a:hover{
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
}
*/





.hidden {
   display: none;
}