@charset "UTF-8";
/* CSS Document */
html { 
  margin:0;
  padding:0;
   background: url(img/bg.gif) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardis�e */
  vertical-align:middle;
}

#header{ opacity:0.5; border-bottom-color:#FFF; height:50px;}
.text{font-weight: 400;
font-size:25px;
line-height:25px; font-family: 'Rokkitt', serif;
  color:#FFF;}

#home{
  margin-top:50px;
  height:900px;
  margin-right: 200px;
  opacity:0.5;
  margin-left:200px;
  text-align:center;
  }


#nav{
  font-family: 'Anton', sans-serif;
  color:#FFF;
  width:200px;
  height:900px;
  float: left;
  clear: both;
  position:fixed;
  margin-top:100px;
  padding-left:20px;
  }


#compte{
  height:400px;
  margin-right: 200px;
  margin-bottom:300px;
  margin-left:200px;
  text-align: center;
  font-family: 'Rokkitt', serif;
  color:#FFF;
  }

#selection{
  height:400px;
  margin-right: 200px;
  margin-bottom:300px;

  margin-left:200px;
  }

h2{
  font-family: 'Rokkitt', serif;
  color:#FFF;
  font-size:27px;
  list-style:none;
  float: left;
  margin-right:100px;
  opacity:0.5;
}

span:hover{
  font-family: 'Rokkitt', serif;
  color:#FFF;
  list-style:none;
  float: left;
  font-weight:700;
  cursor: pointer;
  }
  
#questions{
    height:400px;
  margin-right: 200px;
  margin-bottom:300px;
  font-size:30px;
  margin-left:200px;
    font-family: 'Rokkitt', serif;
  color:#FFF;
  text-align:center;
  font-weight:700;
  }

.questions a{}
  
.badges{
    text-decoration:none;
    text-align:left;}

.text{font-weight: 400;
font-size:25px;
line-height:25px;}



#results{  height:400px;
  margin-right: 200px;
  margin-bottom:300px;

  margin-left:200px;
  }












#backtop{
 position:fixed;
 /* La couleur de fond*/
 background-color:transparent;
 border: none;
 /*La bordure*/
 /* la longueur et l'espace autour du texte*/
 /* On place le bloc en bas � droite*/
 right:15px;
 bottom:15px;
 /* On ajoute un bord arrondi pour les navigateurs compatibles*/
    }
#backtop:hover{
 /*On change le curseur de la souris au survol*/
 cursor:pointer;
 /*On change la couleur de fond au survol*/

 /*On change la couleur de la bordure au survol*/

 /*On change la couleur de texte au survol*/
}
:focus{outline:0}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:0;outline:none}